{% extends 'base.html.twig' %}


{% block body %}

    {% for article in articles %}
        <div>
            <h2>{{ article.title }}</h2>
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}



{% endblock %}
