{% extends 'base.html.twig' %}



{% block body %}
    <div>
        <h1>{{ category.name }}</h1>
        {% for article in category.articles %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
        {% endfor %}
    </div>
    <a href="{{ path('blog_category_index') }}">
        Back to Category.
    </a><br/>
    <a href="{{ path('blog_article_index') }}">
        Back to Article.
    </a>
{% endblock %}
