{% extends 'base.html.twig' %}


{% block body %}
    <h1>Welcome to my blog</h1>

    <div class="container buttonHome text-center">
        <a class="btn btn-success" href="{{ path('blog_index') }}" role="button">Blog</a>
        <a class="btn btn-success" href="{{ path('blog_article_index') }}" role="button">Articles</a>
        <a class="btn btn-success" href="{{ path('category_index') }}" role="button">Category</a>
        <a class="btn btn-success" href="{{ path('tag_index') }}" role="button">Tag</a>
        <a class="btn btn-success" href="{{ path('lucky_number') }}" role="button">Lucky</a>
    </div>
{% endblock %}